* {
  box-sizing: border-box;
}
button {
    position: relative;
    width: 20rem;
    /* width: fit-content; */
    height: 5rem;
   
  
    border-radius: 40px;
    border-width: 0;  
    padding: 5px;
    background: #17C7FF;
    
    color: black;
    font-weight: bold;
    font-size: 24px;
    margin: 4px;

    cursor: pointer;
  }

  .logoutButton {
    width: 7rem !important;
    margin: 0 !important;
    top: 0 !important;
   
  }

  button.navButton:hover {
    /* background:#FDC9D3; */
    background: radial-gradient(ellipse at center top,  #ffc8d1 10%, #ff256e 50%);
    color: #FFF3F5;

  } 

  .navButton {
    width: 12rem;
    height: 4rem;

    display: flex; 
    flex-direction: row;
    align-items: center;
    padding-left: 0.5rem;
  }


  .logoutButton {
    margin-top: 2rem;
  }
  
  .outline {
    border-width: 5px;
  }
  
  .superRound {
    /* border-radius: 50%; */
  }
  
  
  .pinkShine {
    /* radial gradient from https://www.cssportal.com/css-gradient-generator/ */
    background: radial-gradient(ellipse farthest-corner at top left,   #FF3988 15%, #FF9FC6 30%, #FF3988 50%);
    border-color: #FF3988;
  }
  
  .pinkShine:active {
    background: radial-gradient(ellipse farthest-corner at top left,   #E5357B 15%, #FF85B6 30%, #E5357B 50%);
  }
  
  .lightPinkShine {
    /* radial gradient from https://www.cssportal.com/css-gradient-generator/ */
    background: radial-gradient(ellipse farthest-corner at top left,   #FDC9D3 15%, #FFF3F5 30%, #FDC9D3 50%);
    border-color: #FDC9D3;
  }
  
  .lightPinkShine:active {
    background: radial-gradient(ellipse farthest-corner at top left,   #EEBDC6 15%, #FFE5E9 30%, #EEBDC6 50%);
  }
  
  .darkPinkShine {
    /* radial gradient from https://www.cssportal.com/css-gradient-generator/ */
    /* background: radial-gradient(ellipse farthest-corner at top left,   #C93667 15%, #D18CA3 30%, #C93667 50%); */
    background: radial-gradient(ellipse at center top,  #FFF3F5 20%, #FDC9D3 50%);
    /* border-color: #C93667; */
    border: 3px #fea6b8 solid;
    color: #5d162d;
    letter-spacing: 2px;

    box-shadow:  0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.1);
  }

  .medPinkShine {
    /* radial gradient from https://www.cssportal.com/css-gradient-generator/ */
    /* background: radial-gradient(ellipse farthest-corner at top left,   #C93667 15%, #D18CA3 30%, #C93667 50%); */
    background: radial-gradient(ellipse at center top,  #FFF3F5 10%, #ff4382 50%);
    border: 3px #cd1d58 solid;
    color: white;
    letter-spacing: 2px;

    box-shadow:  0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.1);
  }

  .medPinkShine:active {
    background: radial-gradient(ellipse at center top,  #ffc8d1 10%, #ff256e 50%);
  }

  
  .darkPinkShine:active {
    background: radial-gradient(ellipse at center top,  #f7dde2 10%, #fab8c6 50%);
  }

  .darkPinkShine.disabled, .pinkShine.disabled, .lightPinkShine.disabled, .purpleShine.disabled, .lightPurpleShine.disabled {
    /* radial gradient from https://www.cssportal.com/css-gradient-generator/ */
    background: radial-gradient(ellipse farthest-corner at top left,   #b6b6b6 15%, #cbcbcb 30%, #b6b6b6 50%);
    border-color: #b6b6b6;
    
  }
  
  .purpleShine {
    /* radial gradient from https://www.cssportal.com/css-gradient-generator/ */
    /* background: radial-gradient(ellipse farthest-corner at top left,   #CDB8DD 15%, #F0E6F7 30%, #CDB8DD 50%);
    border-color: #CDB8DD; */
    background: radial-gradient(ellipse at center top,  #F0E6F7 10%, #bf66ff 50%);
    border: 3px #b44ffd solid;
    color: white;
    letter-spacing: 2px;

    box-shadow:  0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.1);
    
  }
  
  .purpleShine:active, .purpleShine:hover {
    background: radial-gradient(ellipse at center top,  #ddbaf7 10%, #b756fc 50%);
  }
  
  .lightPurpleShine {
    /* radial gradient from https://www.cssportal.com/css-gradient-generator/ */
    background: radial-gradient(ellipse farthest-corner at top left,   #CCCCFF 15%, #F0F0FF 30%, #CCCCFF 50%);
    border-color: #CCCCFF;
  }
  
  .lightPurpleShine:active {
    background: radial-gradient(ellipse farthest-corner at top left,   #BCBCEB 15%, #DFDFED 30%, #BCBCEB 50%);
  }
  

  .short {
    width: 8rem;
    font-size: 100%;
    text-wrap:pretty;
    text-align: center;
  }

  .account_button {
    background-color: #cd1d58;
    color: white;
    height: 2.5rem;
    border-radius: 1rem;
    font-size: large;
    width: 100%;
    filter: none;
    border-color: transparent;
    cursor: pointer;
  }

.account_button:hover {
  background-color: #be1b51;
}

.popupExitButton{
  cursor:pointer;
  height: 1.5rem;
  width: 1.5rem;
  margin: 0%;
}
