{% extends "layout.html" %}

{% block title %}Chatroom{% endblock %}

{% block content %}

<head>
    
   <style>
    #game {
        align-self: center;
    }
   </style>
    

</head>
    <!-- Correctly positioning/parenting the phaser canvas: https://phaser.discourse.group/t/how-do-i-move-phaser-game-to-the-center-of-a-browser/8577 -->
    <!-- <div id = "game">
        <script type="text/javascript" src="../static/loginscreen/game/phaser/phaser.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/phaser@3.23.0/dist/phaser.min.js"></script>
        <script src="../static/loginscreen/chatroom/js/chatroom.js"></script>
        <script src="/socket.io/socket.io.js"></script> 
        <script src="http://localhost:8000/socket.io/socket.io.js"></script>
    </div> -->

    <iframe src="http://localhost:8081" width="920" height="620"></iframe>

   {% endblock %}
