{% extends "layout.html" %}

{% block title %}Chatroom{% endblock %}

{% block content %}

<head>
    <!-- <script src="/socket.io/socket.io.js"></script> -->
   <style>
    #game {
        align-self: center;
    }
   </style>
    

</head>

    <!-- <iframe src="../static/loginscreen/chatroom/html/index2.html">
        Error: Game not available
    </iframe> -->
    <div id = "game">
        <script type="text/javascript" src="../static/loginscreen/game/phaser/phaser.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/phaser@3.23.0/dist/phaser.min.js"></script>
        <script src="../static/loginscreen/chatroom/js/chatroom.js"></script>
        </div>
    <!-- <div id ="game" -->

   
  


   {% endblock %}
