{% extends "layout.html" %}

{% block title %}DressUp{% endblock %}

{% block content %}

<head>
    <title>Uni-Verse</title>
    <link rel="stylesheet" type="text/css" href="../static/loginscreen/shared/styles/button.css">
    <link rel="stylesheet" type="text/css" href="../static/loginscreen/dressup/styles/dressUp.css">

    <link rel="stylesheet" type="text/css" href="../static/loginscreen/shared/styles/sharedStyles.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

</head>

{% load static %}
<script src="{% static './loginscreen/dressup/js/dressUp.js' %}" defer
    numSparkles="{{ user.profile.sparkles }}"></script>


<!-- <iframe id="frame" height="100%" width="100%" scrolling="no"  id="frame">game
    not available -->
<div id="frame">
    <div class="flexRow">
        <div class="verticalContainer">
            <div class="horizontalContainer">
                <div class="tab" id="shop" onclick="populateShop()"> Shop</div>
                <div class="tab" id="myClothes" onclick="populateOwnedClothes()"> My clothes</div>
            </div>

            <div class="closet scrollbar" id="closet">  
            </div>
            
        </div>

        <div id="avatarColorsButton"> 
            <p id="colorLabel"> Color </p> 
            <div id="colors">
                <div class="color" id="default"><p class="colorName">Default</p></div>
                <div class="color" id="red"><p class="colorName">Red</p></div>
                <div class="color" id="orange"><p class="colorName">Orange</p></div>
                <div class="color" id="yellow"><p class="colorName">Yellow</p></div>
                <div class="color" id="green"><p class="colorName">Green</p></div>
                <div class="color" id="blue"><p class="colorName">Blue</p></div>
                <div class="color" id="purple"><p class="colorName">Purple</p></div>
                <div class="color" id="pink"><p class="colorName">Pink</p></div>
                <div class="color" id="white"><p class="colorName">White</p></div>
                <div class="color" id="lightbrown"><p class="colorName">Light Brown</p></div>
                <div class="color" id="brown"><p class="colorName">Brown</p></div>
                <div class="color" id="black"><p class="colorName">Black</p></div>
            </div>
        </div>
        
        <div class="container" id="avatar">
            <img id="unicornImage" src="../static/loginscreen/assets/vectorArt/default.png" alt="Your Unicorn Avatar">


        </div>
        <div class="cartVerticalContainer">
            <p> In Cart:</p>
            <div class="cartItemsContainer">
            </div>
            <button class="buyItemButton darkPinkShine superRound outline short"> Buy</button>
        </div>
    </div>

</div>
<!-- </iframe>  -->

{% endblock %}