{% extends "layout.html" %}

{% block title %}DressUp{% endblock %}

{% block content %}

<head>
    <title>Uni-Verse</title>
    <link rel="stylesheet" type="text/css" href="../static/loginscreen/shared/styles/button.css">
    <link rel="stylesheet" type="text/css" href="../static/loginscreen/dressup/styles/dressUp.css">

    <link rel="stylesheet" type="text/css" href="../static/loginscreen/shared/styles/sharedStyles.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../static/loginscreen/dressup/js/dressUp.js"></script>

</head>

{% load static %}
<script src="{% static './loginscreen/dressup/js/dressUp.js' %}" defer
    numSparkles="{{ user.profile.sparkles }}"></script>


<!-- <iframe id="frame" height="100%" width="100%" scrolling="no"  id="frame">game
    not available -->
<div id="frame">
    <p class="numSparkles"> Sparkles:
        <br>
        {{ user.profile.sparkles }}
    </p>


    <div class="flexRow">
        <div class="verticalContainer">
            <div class="horizontalContainer">
                <div class="tab" id="shop" onclick="populateShop()"> Shop</div>
                <div class="tab" id="myClothes" onclick="populateOwnedClothes()"> My clothes</div>
            </div>

            <section class="closet scrollbar" id="closet">
                <!-- TODO: need more semantic html tags-->
            </section>
        </div>


        <div class="container" id="avatar">
            <img class="unicornImage" src="../static/loginscreen/assets/vectorArt/player.png" alt="Your Unicorn Avatar">


        </div>
        <div class="cartVerticalContainer">


            <div class="cartItemsContainer">In cart:
            </div>
            <button class="buyItemButton darkPinkShine superRound outline short"> Buy</button>
        </div>




    </div>

</div>
<!-- </iframe>  -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $.ajax({
                type: "POST",
                url: 'my-ajax-test/',
                data: { csrfmiddlewaretoken: '{{ csrf_token }}'},  
                success: function callback(response){
                           /* do whatever with the response */
                           console.log(response);
                        //    alert(response);
                        }
            });
</script>

{% endblock %}