{% extends "layout.html" %}

{% block title %}DressUp{% endblock %}

{% block content %}

<head>
    <title>Uni-Verse</title>
    <link rel="stylesheet" type="text/css" href="../static/loginscreen/shared/styles/button.css">
    <link rel="stylesheet" type="text/css" href="../static/loginscreen/dressup/styles/dressUp.css">

    <link rel="stylesheet" type="text/css" href="../static/loginscreen/shared/styles/sharedStyles.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

</head>

{% load static %}
<script src="{% static './loginscreen/dressup/js/dressUp.js' %}" defer
    numSparkles="{{ user.profile.sparkles }}"></script>


<!-- <iframe id="frame" height="100%" width="100%" scrolling="no"  id="frame">game
    not available -->
<div id="frame">
    <div class="flexRow">
        <div class="verticalContainer">
            <div class="horizontalContainer">
                <div class="tab" id="shop" onclick="populateShop()"> Shop</div>
                <div class="tab" id="myClothes" onclick="populateOwnedClothes()"> My clothes</div>
            </div>

            <section class="closet scrollbar" id="closet">
                <!-- TODO: need more semantic html tags-->
            </section>
        </div>


        <div class="container" id="avatar">
            <img class="unicornImage" src="../static/loginscreen/assets/vectorArt/player.png" alt="Your Unicorn Avatar">


        </div>
        <div class="cartVerticalContainer">
            <p> In Cart:</p>
            <div class="cartItemsContainer">
            </div>
            <button class="buyItemButton darkPinkShine superRound outline short"> Buy</button>
        </div>
    </div>

</div>
<!-- </iframe>  -->

{% endblock %}