{% extends "layout.html" %}

{% block title %}Game{% endblock %}

{% block content %}
{% load static %} 

<!DOCTYPE html>
<html>

<head>
    <title>Uni-Verse</title>
    <!--<script type="text/javascript" src="../../loginscreen/static/loginscreen/game/phaser/phaser.min.js"></script>-->
    <!--<script src="https://cdn.jsdelivr.net/npm/phaser@3.23.0/dist/phaser.min.js"></script>-->
    <!--<script type="text/javascript" src="../static/loginscreen/game/js/Prepare.js"></script>
    <script type="text/javascript" src="../static/loginscreen/game/js/MainScene.js"></script>
    <script type="text/javascript" src="../static/loginscreen/game/js/Enemy.js"></script>
    <script type="text/javascript" src="../static/loginscreen/game/js/Sparkle.js"></script>
    <script type="text/javascript" src="../static/loginscreen/game/js/game.js"></script>-->

</head>

<div id = "game">
    <!-- <script type="text/javascript" src="{% static 'loginscreen/game/phaser/phaser.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/phaser@3.23.0/dist/phaser.min.js"></script> -->
    <script type="text/javascript" src="../static/loginscreen/game/phaser/phaser.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/phaser@3.23.0/dist/phaser.min.js"></script>


    <script type="text/javascript" src="../static/loginscreen/game/js/Prepare.js"></script>
    <script type="text/javascript" src="../static/loginscreen/game/js/MainScene.js"></script>
    <script type="text/javascript" src="../static/loginscreen/game/js/Enemy.js"></script>
    <script type="text/javascript" src="../static/loginscreen/game/js/Sparkle.js"></script>
    <script type="text/javascript" src="../static/loginscreen/game/js/game.js"></script>
</div>
<body>
</body>

</html>

{% endblock %}

<!--../static/loginscreen/game/phaser/phaser.min.js-->