{% extends "layout.html" %}

{% block title %}Game{% endblock %}

{% block content %}
{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Uni-Verse</title>

    <style>
        @font-face {
            font-family: videoGameFont;
            src: url(../static/loginscreen/assets/fonts/videogamefont.otf);
        }

        #game {
            height: 33rem;
            width: 60rem;
        }

        .videoGameFont {
            font-family: videoGameFont;
            position: absolute;
            left: -1000px;
            visibility: hidden;
        }
    </style>

</head>
<body>
<div id="game" role="application" aria-label="Uni-Verse Game">

    <script type="text/javascript" src="../static/loginscreen/game/phaser/phaser.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/phaser@3.23.0/dist/phaser.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../static/loginscreen/game/js/Prepare.js"></script>
    <script type="text/javascript" src="../static/loginscreen/game/js/MainScene.js"></script>
    <script type="text/javascript" src="../static/loginscreen/game/js/Enemy.js"></script>
    <script type="text/javascript" src="../static/loginscreen/game/js/Sparkle.js"></script>
    <script type="text/javascript" src="../static/loginscreen/game/js/game.js"></script>
    <div class="videoGameFont" aria-hidden="true">.</div>
</div>
</body>

</html>

{% endblock %}

