{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<head>
    <title>Uni-Verse</title>
    <link rel="stylesheet" type="text/css" href="../static/loginscreen/shared/styles/button.css">
    <link rel="stylesheet" type="text/css" href="../static/loginscreen/homescreen/styles/home_style.css">
    <link rel="stylesheet" type="text/css" href="../static/loginscreen/shared/styles/container.css">

    <link rel="stylesheet" type="text/css" href="../static/loginscreen/shared/styles/sharedStyles.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    {% load static %}
    <script src="{% static './loginscreen/homescreen/js/home.js' %}"></script>



</head>

<div id="frame" class="landingGrid" role="region" aria-label="Game Content">


    <div id="waterfall" aria-hidden="true"> </div>
   <div id="gif" aria-hidden="true"> </div>
   <div id="sign" aria-hidden="true"> </div>
   <div id="uni" aria-hidden="true"> </div>
   <div id="p_uni" aria-hidden="true"> </div>
   <div id="tree" aria-hidden="true"> </div>
   <div id="blurb" class="pinkGradientContainer" role="presentation" aria-label="Welcome Message">
    <img class="popupExitButton" src="../../../../static/loginscreen/assets/images/icons/exit_button.png" />
        <h1> Welcome to the Uni-Verse!</h1>
        <p> Dress up, collect sparkles, and show off your outfits to your friends!</p>
   </div>

   <div id="login_welcome" class="pinkGradientContainer" role="presentation" aria-label="Login Welcome"> 
        <h1>Welcome to the Uni-Verse!</h1>
        <p>We're so happy you could make it! To start, we've added 50 Sparkles to your inventory and a few clothing items!</p>
        <div class="starter_items" role="presentation" aria-label="Starter Items"> 
            <div class="buttonHolderSparkleCount">
                <p> +50 </p>
                <img class="image" src="../../../../static/loginscreen/assets/images/singleSparkle.png", alt="game_sparkles" width = "60" height="60" aria-hidden="true"/>
            </div>
            <div class="buttonHolderSparkleCount">
                <p> +3 </p>
                <img class="image" src="../../../../static/loginscreen/assets/images/clothes/top2.png", alt="game_sparkles" width = "50" height="60" aria-hidden="true"/>
            </div>
            <div class="buttonHolderSparkleCount">
                <p> +3 </p>
                <img class="image" src="../../../../static/loginscreen/assets/images/clothes/bottom12.png", alt="game_sparkles" width = "50" height="60" aria-hidden="true"/>
            </div>
        </div>
        <br>
        <div class="navbar_suggestions" role="navigation" aria-label="Navigation Suggestions">
            <p> Check out your inventory in </p>
            <button class="fakeButton medPinkShine superRound outline navButton"  aria-label="Dress Up Button">
                <img class="icon" src="../../../../static/loginscreen/assets/images/icons/dressup_icon.png" />
                Dress Up</button>
        </div>
        
        <button id="confirm_button" class="medPinkShine superRound outline navButton" aria-label="Get Started Button"> Get Started!</button>
    </div>

   
   

</div>

{% endblock %}