{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<head>
    <title>Uni-Verse</title>
    <link rel="stylesheet" type="text/css" href="../static/loginscreen/shared/styles/button.css">
    <link rel="stylesheet" type="text/css" href="../static/loginscreen/homescreen/styles/home_style.css">
    <link rel="stylesheet" type="text/css" href="../static/loginscreen/shared/styles/container.css">

    <link rel="stylesheet" type="text/css" href="../static/loginscreen/shared/styles/sharedStyles.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    {% load static %}
    <script src="{% static './loginscreen/homescreen/js/home.js' %}"></script>



</head>

<!-- {% load static %}
<script src="{% static './loginscreen/dressup/js/dressUp.js' %}" defer
    numSparkles="{{ user.profile.sparkles }}"></script> -->


<!-- <iframe id="frame" height="100%" width="100%" scrolling="no"  id="frame">game
    not available -->
<div id="frame" class="landingGrid">
    <!-- <audio id="musicplayer" allow="autoplay">
        <source src="../static/loginscreen/assets/sounds/Little_Apprentice.wav" />
    </audio> -->

    <div id="waterfall"> </div>
    
   <div id="gif"> </div>
   <div id="sign"> </div>
   <div id="uni"> </div>
   <div id="p_uni"> </div>
   <div id="tree"> </div>
   <div id="blurb" class="pinkGradientContainer">
    <img class="popupExitButton" src="../../../../static/loginscreen/assets/images/icons/exit_button.png" />
    <!-- <button class="popupExitButton"> x </button> -->
        <h1> Welcome to the Uni-Verse!</h1>
        <p> Dress up, collect sparkles, and show off your outfits to your friends!</p>
   </div>

   <div id="login_welcome" class="pinkGradientContainer"> 
        <h1>Welcome to the Uni-Verse!</h1>
        <p>We're so happy you could make it! To start, we've added 50 Sparkles to your inventory and a few clothing items!</p>
        <div class="starter_items"> 
            <div class="buttonHolderSparkleCount">
                <p> +50 </p>
                <img class="image" src="../../../../static/loginscreen/assets/images/singleSparkle.png", alt="game_sparkles" width = "60" height="60" />
            </div>
            <div class="buttonHolderSparkleCount">
                <p> +3 </p>
                <img class="image" src="../../../../static/loginscreen/assets/images/clothes/top2.png", alt="game_sparkles" width = "50" height="60" />
            </div>
            <div class="buttonHolderSparkleCount">
                <p> +3 </p>
                <img class="image" src="../../../../static/loginscreen/assets/images/clothes/bottom12.png", alt="game_sparkles" width = "50" height="60" />
            </div>
        </div>
        <br>
        <div class="navbar_suggestions">
            <p> Check out your inventory in </p>
            <button class="fakeButton medPinkShine superRound outline navButton">
                <img class="icon" src="../../../../static/loginscreen/assets/images/icons/dressup_icon.png" />
                Dress Up</button>
        </div>
        
        <button id="confirm_button" class="medPinkShine superRound outline navButton"> Get Started!</button>
    </div>

   
   

</div>
<!-- </iframe>  -->

{% endblock %}