{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<head>
    <title>Uni-Verse</title>
    <link rel="stylesheet" type="text/css" href="../static/loginscreen/shared/styles/button.css">
    <link rel="stylesheet" type="text/css" href="../static/loginscreen/homescreen/styles/home_style.css">

    <link rel="stylesheet" type="text/css" href="../static/loginscreen/shared/styles/sharedStyles.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

</head>

<!-- {% load static %}
<script src="{% static './loginscreen/dressup/js/dressUp.js' %}" defer
    numSparkles="{{ user.profile.sparkles }}"></script> -->


<!-- <iframe id="frame" height="100%" width="100%" scrolling="no"  id="frame">game
    not available -->
<div id="frame">
   <div id="gif"> </div>
   <p> Welcome to the Uni-Verse!</p>
   <p> Dress up <br> Collect sparkles, watch out for paparrazi! <br> show off your outfits to your friends!</p>

</div>
<!-- </iframe>  -->

{% endblock %}