<!DOCTYPE html>
<html>

<head>
    <title> Login Home </title>
    <link rel="stylesheet" href="../static/loginscreen/homescreen/styles/layout_style.css" />
    <link rel="stylesheet" type="text/css" href="../static/loginscreen/shared/styles/button.css">
    <link rel="stylesheet" type="text/css" href="../static/loginscreen/shared/styles/pinkContainer.css">
    <link rel="stylesheet" type="text/css" href="../static/loginscreen/shared/styles/sharedStyles.css">
   <script> 
     var buttonSound = new Audio("/assets/sounds/pleasing-bell.wav");
     function clickDressUp() {
        buttonSound.play();
        // document.getElementById("frame").setAttribute("src", "../static/loginscreen/dressup/html/dressUp.html") 
         }
    function clickGetSparkles() {
        buttonSound.play();
        // document.getElementById("frame").setAttribute("src", "Inner Screen Files/html/game.html") 
        }

    function clickChatroom() {
        buttonSound.play();
        //document.getElementById("frame").setAttribute("src", "chatroom/index2.html"); 
        }
    </script>

</head>

<body>
    <div class="container">
        <!-- <div class="item header_empty"> </div> -->
        <div class="canvas pinkContainer"> 
            {% block content %}
            {% endblock %}
            </iframe> 
        </div>

       
        <div class="item">
            <img class="logo" src="../static/loginscreen/assets/images/logo_ver2.png" alt="uni-verse_logo" 
            width = "270"
            height = "200"/>

            <button class="darkPinkShine superRound outline navButton"> Home </button>
            <button class="darkPinkShine superRound outline navButton" onclick="clickGetSparkles()">Get Sparkles </button>
            <button class="darkPinkShine superRound outline navButton" id = "dressUp" onclick="clickDressUp()">Dress Up </button>
            <button class="darkPinkShine superRound outline navButton" id = "multiplayer" onclick="clickChatroom()">Chatroom</button>
            <button class="darkPinkShine superRound outline navButton logoutButton" id = "logout">Logout</button>

        </div>
    </div>


</body>

</html>