#frame {
    background: white;
    padding: 2%;
    border-radius: 2%;
    height: 33rem;
    width: 60rem;
}

#confirm_button {
    width: fit-content;
    margin-top: -5em;
    margin-left: 50%;
}

.accessibility_element {
    display: grid;

    column-gap: 1rem;
    /* Make the grid 10 columns wide, every other taking up twice the free space */
    grid-template-columns: 1fr;
  
    /* Make the grid have 10 explicit rows, 50px high each */
    grid-template-rows: 2rem 2rem;
    margin: 0.25rem;
}

.accessibility_options {
  display:grid;
  width: 50rem;
  grid-template-columns: 1fr 1fr;
  /* Make the grid have 10 explicit rows, 50px high each */
}

.accessibility_options h2 {
  grid-row-start: 1;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #88bbe8;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #88bbe8;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }