{% extends "base.html" %}

{% block title %}Email Sent{% endblock %}

{% block content %}
<head>
  <link rel="stylesheet" href="../../../static/loginscreen/homescreen/styles/forgot_password.css" />
  <link rel="stylesheet" href="../../../static/loginscreen/shared/styles/sharedStyles.css" />
  <link rel="stylesheet" type="text/css" href="../../../static/loginscreen/shared/styles/button.css">
</head> 

<body>
  <div class="form_div"> 
    <a href="/" class="home_a"> &#8592;  Back To Login </a>
    <h1>Check your inbox.</h1>
    <p> We've emailed you instructions for setting your password. You should receive the email shortly!</p>
  </div>
</body>
{% endblock %}

 