{% extends "base.html" %}

{% block title %}Email Sent{% endblock %}

{% block content %}
<head>
  <link rel="stylesheet" type="text/css" href="../../../static/loginscreen/shared/styles/container.css">
  <link rel="stylesheet" href="../../../static/loginscreen/shared/styles/sharedStyles.css" />
  <link rel="stylesheet" type="text/css" href="../../../static/loginscreen/shared/styles/rainbowBackground.css">
  <link rel="stylesheet" type="text/css" href="../../../static/loginscreen/shared/styles/button.css">
</head> 

<body>
  <div class="form_div" role="main">
      <a href="/" class="home_a" role="link"> &#8592; Back To Login </a>
      <h1 role="heading" aria-level="1">Check your inbox.</h1>
      <p role="status" aria-live="polite">
          We've emailed you instructions for setting your password. You should receive the email shortly!
      </p>
  </div>
</body>
{% endblock %}

 