{% extends 'base.html' %}

{% block title %}Password reset complete{% endblock %}

{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="../../../static/loginscreen/shared/styles/container.css">
    <link rel="stylesheet" type="text/css" href="../../../static/loginscreen/shared/styles/rainbowBackground.css">
    <link rel="stylesheet" href="../../../static/loginscreen/shared/styles/sharedStyles.css" />
    <link rel="stylesheet" type="text/css" href="../../../static/loginscreen/shared/styles/button.css">
</head> 

<body>
    <div class="form_div" role="main"> 
        <h1 role="heading" aria-level="1">Password reset complete</h1>
        <p role="contentinfo">
            Your new password has been set. You can log in now on the <a href="{% url 'login' %}" role="link">log in page</a>.
        </p>
    </div>

</body>

{% endblock %}