{% extends 'base.html' %}

{% block title %}Forgot Your Password?{% endblock %}

{% block content %}
<head> 
  <link rel="stylesheet" href="../../static/loginscreen/shared/styles/sharedStyles.css" />
  <link rel="stylesheet" type="text/css" href="../../static/loginscreen/shared/styles/button.css">
  <link rel="stylesheet" type="text/css" href="../../static/loginscreen/shared/styles/container.css">
</head>
  
<div class="pinkGradientContainer miniContainer" role="region" aria-label="Password Reset">
  <a href="/" class="home_a" role="link"> &#8592; Back To Login </a>

  <h1 role="heading" aria-level="1">Forgot Your Password?</h1>
  <p role="status" aria-live="polite">
      Enter your email address below, and we'll email instructions for setting a new password.
  </p>

  <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Send me instructions!" class="account_button">
  </form>
</div>
{% endblock %}