{% extends "base.html" %}

{% block title %}Enter new password{% endblock %}

{% block content %}
<head>
  <link rel="stylesheet" href="../../../static/loginscreen/homescreen/styles/forgot_password.css" />
  <link rel="stylesheet" href="../../../static/loginscreen/shared/styles/sharedStyles.css" />
  <link rel="stylesheet" type="text/css" href="../../../static/loginscreen/shared/styles/button.css">
</head> 

<body> 
  {% if validlink %}
  <div class="form_div"> 
    <h1>Set a new password!</h1>
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Change my password">
    </form>
  </div>

  {% else %}
  <div class="form_div"> 
    <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
  </div>
</body>
{% endif %}
{% endblock %}