{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<head>
  <link rel="stylesheet" type="text/css" href="../../static/loginscreen/shared/styles/button.css">
  <link rel="stylesheet" type="text/css" href="../../static/loginscreen/shared/styles/container.css">
  <link rel="stylesheet" type="text/css" href="../../static/loginscreen/shared/styles/sharedStyles.css">
</head>
  <!-- <div class="headerSignUpContainer">
    <img class="logo" src="../static/loginscreen/assets/images/signup_uni.png" alt="uni-verse_logo" 
                width = "250"
                height = "200"/>

    <h1> Join The Uni-verse! </h1>
  </div>
  
  <div class="pinkGradientContainer halfContainer" id="form"> 
      <a id="back_to_cg" class="home_a" href="{% url 'community_guidelines' %}"> &#8592;  Back To Community Guidelines </a>
      <h2>Sign up</h2>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="account_button">Sign Up</button>

    </div>
  </div> -->

  <div class="headerSignUpContainer" role="banner">
    <img class="logo" src="../static/loginscreen/assets/images/signup_uni.png" alt="uni-verse_logo" 
        width="250"
        height="200"/>
    <h1 role="heading" aria-level="1">Join The Uni-verse!</h1>
</div>

<div class="pinkGradientContainer halfContainer" id="form" role="region" aria-label="Sign Up Form">
    <a id="back_to_cg" class="home_a" href="{% url 'community_guidelines' %}" role="link"> &#8592; Back To Community Guidelines </a>
    <h2 role="heading" aria-level="2">Sign up</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="account_button" role="button">Sign Up</button>
    </form>
</div>

  
{% endblock %}
