{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<head>

  <link rel="stylesheet" type="text/css" href="../../static/loginscreen/shared/styles/button.css">
  <link rel="stylesheet" type="text/css" href="../../static/loginscreen/shared/styles/pinkContainer.css">
  <link rel="stylesheet" type="text/css" href="../../static/loginscreen/shared/styles/sharedStyles.css">
  <link rel="stylesheet" href="../static/loginscreen/homescreen/styles/signup_style.css" />

  {% load static %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{% static './loginscreen/homescreen/js/sign_up.js' %}"></script>

</head>

  <div class="form_header">
    <img class="logo" src="../static/loginscreen/assets/images/signup_uni.png" alt="uni-verse_logo" 
                width = "250"
                height = "200"/>

    <h1 class="form_h1"> Join The Uni-verse! </h1>
  </div>
  
  <div class="container" id="form"> 
      <h2>Sign up</h2>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Sign Up</button>

    </div>
  </div>

  <div class="container" id="community_guidelines"> 
    <h1> Welcome To The Uni-Verse!</h1>
    <p> Before you join us, be sure to read the Community Guidelines to keep Uni-Verse a safe place! <br>
      Remember, you must follow these rules if you wish to use Uni-Verse.

    </p>

    <h2> Be Kind </h2>

    <h2> Have Fun </h2>

    <button id="next_button" type="submit">Next</button>
  </div>
  
{% endblock %}
