body {
    background: pink;
    background-image: url("../../assets/images/alt_bg.png");

    color: var(--black);
    margin: 1%;
}

.form_div {
    border-radius: 2rem;
    background: rgb(253,201,211);
    background: linear-gradient(8deg, rgba(253,201,211,1) 0%, rgba(255,255,255,1) 100%);
    font-size: large;

    filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0, 0.15));

    margin:auto;

    padding: 2rem;
    padding-top: 1rem;
    width: 35%;
    
}

/* Each item in our grid will contain numbers */
.logo_div {
    /* We center the contents of these items using flexbox. You can also do this CSS grid too! */
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    background-color: transparent;
    border-radius: 0.25em;
    padding: 0.125rem;
}
