#frame {
    height: 33rem;
    width: 60rem;
    background-color: white;   
    background-image:  url("../../assets/images/home_bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;

    overflow:hidden;
}

#blurb {
  grid-column-start:3;
  grid-column-end:6;
  margin-top: 1rem;
}

#blurb p {
  margin-left: -1rem;
}

#login_welcome {
  display: none;
  position: fixed;
  z-index: 2;

  width: 50rem;
  align-self: center;
  margin-left: 5rem;
  padding:1rem;
}

.starter_items {
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.starter_items .buttonHolderSparkleCount {
  width: 15rem;
}

.starter_items p {
  text-align: center;
  font-size: 40px;
  height:fit-content;
  margin: 0;
  align-self: center;
}

#login_welcome #confirm_button {
  margin-left:35rem;
}

#login_welcome .fakeButton {
  transform: scale(0.7);
  pointer-events: none;
  margin:-2.5rem;
}

#login_welcome p {
  display:inline-block;
  margin-left: -1rem;
}

#login_welcome .navbar_suggestions {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


#uni {
  background: url("../../assets/vectorArt/default.png");
  width: 231px;
  height: 298px;
  transform: scale(0.8);
  filter: drop-shadow(0 0 0.75rem rgba(255, 255, 255, 0.5));
  margin-top: 1.5rem;
  grid-row: 2;
  grid-column-start: 3;
  z-index: 1;
}

#uni:hover {
  cursor: url("../../assets/images/brush.png"), auto;

}

#sign {
  width: 362px;
  height: 330px;
  background: url("../../assets/sheets/sign_sheet.png");
  background-repeat: no-repeat;
  transform: scale(0.5);
  margin-top:-8rem;
  margin-left: 5rem;
  grid-row: 3;
  grid-column-start: 4;
  filter: drop-shadow(0 0 0.75rem rgba(255, 255, 255, 0.5));

}

@media only screen and (min-width: 362px) {
  #sign:hover {
    transform: scale(0.5);
    background: url("../../assets/sheets/sign_sheet.png");
    animation: sign 0.3s steps(2) infinite;

  }
}

/* Code for animating a gif: https://blog.logrocket.com/making-css-animations-using-a-sprite-sheet/ */
@keyframes sign {
  to { background-position: -724px }
}

/* Code for animating a gif: https://blog.logrocket.com/making-css-animations-using-a-sprite-sheet/ */
@keyframes fall {
  to { background-position: -2200px }
}

#tree {
  width: 150px;
  height: 250px;
  transform: scale(1.8);

  margin-top:4rem;
  margin-left:9rem;

  background: url("../../assets/images/tree.png");
  background-repeat: no-repeat;

  grid-row: 1;
  grid-column-start: 2;
}

#tree:hover {
  cursor:pointer;
}

#waterfall{
  width: 320px;
  height: 725px;
  background: url("../../assets/sheets/waterfall_sheet.png");
  animation: fall 0.5s steps(4) infinite;

  grid-row: 1 /2;
  grid-column-start: 1;
  filter: drop-shadow(0 0 0.75rem rgba(255, 255, 255, 0.5));
}

@media only screen and (min-width: 320px) {
  #waterfall {
    transform: scale(1.2);
    position:static;
    
    right: -10px;
    
  }
}


/* Code for animating a gif: https://blog.logrocket.com/making-css-animations-using-a-sprite-sheet/ */
@keyframes sprite {
    to { background-position: -45450px }
  }
  
  #gif{
    height: 297px;
    width: 225px;
    background: url("../../assets/sheets/sunglassesSheet.png");
    animation: sprite 20s steps(202) infinite;

    grid-row-start: 1;
    grid-column-start: 6;
    margin-left: -4rem;
    filter: drop-shadow(0 0 0.75rem rgba(255, 255, 255, 0.5));
  }

  #gif:hover {
    cursor:pointer;
  }
  
  @media only screen and (min-width: 1024px) {
    #gif {
      transform: scale(0.8);
      /* background-color: red; */
      padding: 0;
      right: 0;
      bottom: 0;
      top: 0;
      left: 0;
      /* position:fixed; */
      
    }
  }

  #p_uni {
    background: url("../../assets/sheets/paparazziSheet.png/");
    width: 367px;
    height: 327px;
    transform: scale(0.8);
    filter: drop-shadow(0 0 0.75rem rgba(255, 255, 255, 0.5));
    margin-top: 1.5rem;
    grid-row: 1;
    grid-column-start: 2;
  }

  @keyframes snapshot {
    from {
      background-position: 0px;
      transform: rotate(-15deg) scale(0.8);
    }
    to {
        background-position: -5340px;
        transform: rotate(-15deg) scale(0.8);
    }
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg) scale(0.8);
    }
    to {
      transform: rotate(-15deg) scale(0.8);
    }
  }


  @keyframes rotate-back {
    from {
      transform: rotate(-15deg) scale(0.8);
    }
    to {
      transform: rotate(0deg) scale(0.8);
    }
  }

  .rotate_p_uni {
    animation: rotate 0.5s steps(15);
  }

  .rotate_back_p_uni {
    animation: rotate-back 0.5s steps(15);
  }

  @media only screen and (min-width: 367px) {
    .animate_p_uni {
      transform: scale(0.8);
      background: url("../../assets/sheets/paparazziSheet.png");
      animation: snapshot 0.5s steps(5);
  
    }
  }


  /* ----- Avatar Clothing Positioning -----*/
#bottom {
  position: absolute;
  top: 8.5rem;
  left: 8.1rem;
}

#skirt {
  position: absolute;
  top: 8rem;
  left: 9rem;
}

#top {
  position: absolute;
  top: 8.7rem;
  left: 3.2rem;
}

#feet {
  position: absolute;
  top: 16.6rem;
  left: 3.51rem;
}

#backcap {
  position: absolute;
  top: 0.5rem;
  left: 2rem;
}

#cap {
  position: absolute;
  top: 0.5rem;
  left: 0.2rem;
}

#partyhattype {
  position: absolute;
  top: -1rem;
  left: 3rem;
}

#tophattype {
  position: absolute;
  top: 0rem;
  left: 2rem;
}

#carrothorn {
  position: absolute;
  top: 0rem;
  left: 2rem;
}
#icecreamhorn {
  position: absolute;
  top: -0.5rem;
  left: 1.2rem;
}
#headphonestype {
  position: absolute;
  top: 1rem;
  left: 4rem;
}
#earringtype {
  position: absolute;
  top: -16rem;
  left: 6rem;
}
 
#necklace {
  position: absolute;
  top: 8rem;
  left: 3.5rem;
}

#glassestype {
  position: absolute;
  top: 3rem;
  left: 1.2rem;
}

#monocletype {
  position: absolute;
  top: 3rem;
  left: 2rem;
}


#eyeliner {
  position: absolute;
  top: 3.25rem;
  left: 4rem;
}
 
#mustache {
  position: absolute;
  top: 5.4rem;
  left: 0rem;
}

#nosetype {
  position: absolute;
  top: 4.2rem;
  left: -0.8rem;
}



  