#frame {
    height: 33rem;
    width: 60rem;
    background-color: white;   
    background-image:  url("../../assets/images/home_bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;

    overflow:hidden;
}

#blurb {
  grid-column-start:3;
  grid-column-end:6;
  margin-top: 1rem;
}

#blurb p {
  margin-left: -1rem;
}

#uni {
  background: url("../../assets/vectorArt/default.png");
  width: 231px;
  height: 298px;
  transform: scale(0.8);
  filter: drop-shadow(0 0 0.75rem rgba(255, 255, 255, 0.5));
  margin-top: 1.5rem;
  grid-row: 2;
  grid-column-start: 3;
}

#uni:hover {
  cursor: url("../../assets/images/brush.png"), auto;

}

#sign {
  width: 362px;
  height: 330px;
  background: url("../../assets/sheets/sign_sheet.png");
  background-repeat: no-repeat;
  transform: scale(0.5);
  margin-top:-8rem;
  margin-left: 5rem;
  grid-row: 3;
  grid-column-start: 4;
  filter: drop-shadow(0 0 0.75rem rgba(255, 255, 255, 0.5));

}

@media only screen and (min-width: 362px) {
  #sign:hover {
    transform: scale(0.5);
    background: url("../../assets/sheets/sign_sheet.png");
    animation: sign 0.3s steps(2) infinite;

  }
}

/* Code for animating a gif: https://blog.logrocket.com/making-css-animations-using-a-sprite-sheet/ */
@keyframes sign {
  to { background-position: -724px }
}

/* Code for animating a gif: https://blog.logrocket.com/making-css-animations-using-a-sprite-sheet/ */
@keyframes fall {
  to { background-position: -2200px }
}

#waterfall{
  width: 320px;
  height: 725px;
  background: url("../../assets/sheets/waterfall_sheet.png");
  animation: fall 0.5s steps(4) infinite;

  grid-row: 1 /2;
  grid-column-start: 1;
  filter: drop-shadow(0 0 0.75rem rgba(255, 255, 255, 0.5));
}

@media only screen and (min-width: 320px) {
  #waterfall {
    transform: scale(1.2);
    position:static;
    
    right: -10px;
    
  }
}


/* Code for animating a gif: https://blog.logrocket.com/making-css-animations-using-a-sprite-sheet/ */
@keyframes sprite {
    to { background-position: -45450px }
  }
  
  #gif{
    height: 297px;
    width: 225px;
    background: url("../../assets/sheets/sunglassesSheet.png");
    animation: sprite 20s steps(202) infinite;

    grid-row-start: 1;
    grid-column-start: 6;
    margin-left: -4rem;
    filter: drop-shadow(0 0 0.75rem rgba(255, 255, 255, 0.5));
  }
  
  @media only screen and (min-width: 1024px) {
    #gif {
      transform: scale(0.8);
      /* background-color: red; */
      padding: 0;
      right: 0;
      bottom: 0;
      top: 0;
      left: 0;
      /* position:fixed; */
      
    }
  }


  