a { text-decoration: none; } 
body {
    background: pink;
    background-image:  url("../../assets/images/alt_bg.png");
    
    font-family: sans-serif;
    color: var(--black);
    margin: 1%;
    /* overflow-x: hidden;
    overflow-y: hidden; */

}

.container {
    display: grid;
  
    /* Make gutters between each row and column of 1rem */
    column-gap: 1rem;
    row-gap: 1rem;
  
    /* Make the grid 10 columns wide, every other taking up twice the free space */
    grid-template-columns: 1fr 15fr 2fr;
  
    /* Make the grid have 10 explicit rows, 50px high each */
    grid-template-rows: 1fr;
   
    
}

/* Each item in our grid will contain numbers */
.item {
    /* We center the contents of these items using flexbox. You can also do this CSS grid too! */
   
    font-size: 1.5em;
    background-color: transparent;/*  best colour*/
    border: 0.1rem ;
    border-radius: 0.25em;
    padding: 0.125rem;
    text-align: center;
    margin-bottom: 5rem;
   
}

.canvas {
   

    grid-column-start: 2;
    

    grid-row-start: 1;
    grid-row-end: 4;
    /* justify-content: center;
    align-items: center;
    font-size: 1.5em;
    background-color: rgb(36, 174, 162); /* best colour */
   /* border: 0.1rem solid rgba(255, 255, 255, 0.25);
    border-radius: 0.25em;
    padding: 0.125rem; */
   


}

.header_empty {
    display: flex;
    background-color:rgb(212, 22, 54);
    grid-column: span 2;
    grid-row: span 1;
   
}

.logo {
   
   
    /* justify-content: right; */
    /* grid-row: span 4;
    grid-column-start: 0;
    grid-column-end: 1; */

    /* position: absolute; */

    /* margin-left: 0rem; */
   margin: auto;
   /* margin-bottom: 5rem; */
    
    /* transform: scale(.2); */
    /* transform: rotate(-15deg); */
    filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0, 0.25));
}

  iframe {
    /* transform: scale(0.9);
    overflow-x: visible;
    margin: auto;
    
    border: none;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    margin-left:auto;
    margin-right:auto;
    width:990px; */
   
   
    
}


  


  
  

  