body {
    background-image: url('../../assets/images/layout_bg.png'); 
    background-size: 140%, 100%;
    
    background-position: 0 0 0 0 ;
    background-repeat: no-repeat;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    padding: 0;
    background-color: blue;

  }


  .horizontalFlex {
    position: relative;
    /* width: auto;
    height: auto; */
    display: flex;
    flex-direction: row;
    margin: 0;
    top: 3rem;
    left: 7rem;
    right: 0;
    bottom: 0;
   
}


  .slideshow-container {
    max-width: 400px;
    position: relative;
    margin: auto;
    /* margin-top: 100px; */
    /* top: 20px; */
    /* width: 400px;
    height: 400px; */
    z-index: 5;
    padding: 10px;
    top: -2rem;
    bottom: 0;
    left: 1rem;
    right: 0;
}





.pinkGradientContainer{
    width: 500px;
    height: 450px;
    position: relative;
    /*Move this back to 300 if too wide for Mac OS*/
    /* left: 550px; */
    top: 30px;
    padding: 15px;
    margin-left: 18rem;
}


.logo_div {
   
    width: 350px;
    position: absolute;
   left: 0;
   top: -2rem;

    /* bottom: 600px; */
    transform: rotate(-10deg);
    z-index: 10;
}


.logo{
    width: 350px;
    height: 350px;
}




/* Styles for the unicorn container */
.unicorn-container {
    text-align: center;
    margin-top: 6px; /* Adjust as needed */
    position: absolute;
    left: 45rem;
    z-index: 5;
    bottom: 1rem
   
  }
 
  .unicorn {
    width: auto; /* Let the width adjust based on the image's natural size */
    height: 350px; /* Set a fixed height */
  }
 

.slideshow-container {
    max-width: 400px; /* Adjust based on your preference */
    position: relative;
    margin: auto;
    margin-top: 10%; /* Adjust based on your preference */
    /* transform: rotate(-10deg); */
}


.mySlides {
    display: none;
    border: 3vw solid white; /* Adjust based on your preference */
    position: relative;
} 




img {
    width: 300px;
    height: 300px;
}

.caption {
    position: absolute;
    width: 100%;
    text-align: center;
}

.caption.top {
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
}

.caption.bottom {
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
} 


